body {
    font-family: 'Arvo', serif;
}

nav {
    width: 100%;
    display: flex;
    background-color: black;
    height: 10vh;
    align-items: center;
    
}

section {
    display: inline-block;
}

.links {
    flex: 1;
    text-align: right;
}

nav ul li {
    display: inline-block;
    padding: 20px;
    position: relative;
    
}
    


nav ul li a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;    
}

nav ul li::after {
    content: '';
    width: 0%;
    height: 3px;
    background: aquamarine;
    display: block;
    margin: auto;
    transition: 0.5s;
}

nav ul li:hover::after {
    width: 100%;
}

.bgimg {

    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url('D:/website/Mayur-Polymers/phtos/milky-way-starry-sky-night-sky-star-957061.jpeg');
    height: 500px;
    background-size: cover;
    align-items: center;
    width: 100%;
}

body {
    margin: 10px;
}

.text {
    color: #fff;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text h1 {
    font-size: 55px;
}

.text h3 {
    font-size: 25px;
}

.innovations h2 {
    padding-left: 30px;
    font-size: 33px;
    line-height: 0px;
    padding-left: 30px;
}

.innovations hr {
    width: 60%;
    height: 5px;
    margin-left: 30px;
    text-align: left;
    padding-left: 100px;
    color: aqua;
    background-color: aqua;

}

.innovations p {
    width: 60%;
    font-size: 25px;
    padding-left: 30px;
    font-size: 25px;
    line-height: 50px;
}

.innovations img {
    width: 350px;
    float: right;
    margin-left: 10px;
    padding-right: 50px;
}

.quality h2 {
    padding-right: 30px;
    font-size: 3px;
    line-height: 0px;
    text-align: end;
    font-size: 35px;
}

.quality hr {
    width: 60%;
    height: 5px;
    margin-right: 30px;
    color: aquamarine;
    background-color: aquamarine;
}

.quality p {
    text-align: end;
    width: 60%;
    right: 0;
    top: 0;
    float: right;
    margin-right: 30px;
    font-size: 25px;
    line-height: 50px;
}

.quality img {
    width: 350px;
    float: left;
    margin-right: 10px;
    padding-left: 30px;
}

.prod {
    display: block;
}

.prod hr {

    width: 30%;
    height: 5px;
    color: yellow;
    background-color: yellow;

}

footer {
    background-color: #000;
}

.footer-content {
    display: flex;
    color: aquamarine;
    text-align: left;
}

.footer-content ul li {

    display: block;
}

.footer-content ul li a {
    padding: 0px 980px 0px 50px;
    font-size: 20px;
    text-decoration: none;
    color: aquamarine;
    display: block;

}

.footer-content ul li:hover {

    opacity: 0.7;
}


.contact {

    float: right;

}

.logo img {
    width: 100px;
    height: 100px;
    float: right;
    margin-right: 80px;
    margin-top: 30px;
    display: flex;
}

.footer-bottom {

    text-align: center;
    color: aquamarine;
    opacity: 0.8;
    padding: 10px;
    font-size: 13px;
    margin-bottom: 0;
}

.heading {

    color: rgb(0, 0, 0);
    font-size: 30px;
    text-align: center;
    line-height: 0;
}

.row {
    display: flex;
}

.column {
    flex: 33.33%;
    padding: 5px;
}

.bottom-left {
    color: aqua;

    position: relative;
    bottom: 20px;
    left: 10px;

}